<html>
    <head>
        <meta http-equiv name="Content-Type" value="text/html; charset=utf-8">
        <title>Websockets Chat Demo</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
    </head>
    <body>
        <h2>WebSocket:</h2>
        <div style="position:fixed; right: 10px; top: 55px;">
            <h4>You uid: {{ uid }} <img src="{{ avatar_mini }}"></h4>
        </div>
        <div id="chat">
            <div id="status" style="position:fixed; right: 10px;"></div>
            <h2>Chat log</h2>
            <ul id="log"></ul>
                <input type="text" id="data">
                <button onClick="send()" id="btn_send">send</button>
                <button onClick="connect()" id="btn_connect">connect</button>
                <button onClick="disconnect()" id="btn_disconnect" disabled>disconnect</button>
        </div>
        <div id="nows">
            Ваш браузер не поддерживает WebSockets :'(
        </div>
    </body>
    <script>
        $('#nows').hide();
    </script>
</html>
