body {

    font-family: arial;
    margin: 0px;
    padding: 0px;
}

div {
    display: block;
}

.main_log {
    background-color: #F8F7F8;
    margin-top: 0px;
    overflow: auto;
}

.msg {
    font-size: 14px;
    line-height: 23px;
    clear: both;
    display: inline;
}

.msg_text:hover {
    background-color: #FFDAB9;
}

.msg_time {
    color: gray;
    float: left;
    cursor: default;
}

.msg_nick {
    color: #B03060;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

.msg_nick:hover {
    color: blue;
    cursor: pointer;
}

.msg_text {
    float: none;
    cursor: default;
    white-space: pre-wrap;
}